<div class="container">
  <div class="content">
    <h3 class="page-title">System hooks</h3>
      <p class="light">
        <a class="vlink" href="/help/system_hooks">System hooks </a> can be
           used for binding events when GitLab creates a User or Project.
      </p>
   <hr>
       <form accept-charset="UTF-8" action="/admin/hooks" class="form-horizontal" id="new_hook" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="" type="hidden"></div><div class="form-group">
       <label class="control-label" for="hook_url">URL:</label>
    <div class="col-sm-10">
      <input class="form-control" id="hook_url" name="hook[url]" type="text">
       </div>
    </div>
    <div class="form-actions">
      <input class="btn btn-create" name="commit" value="Add System Hook" type="submit">
    </div>
   </form>

    <hr>
   </div>
</div>
