<div class="col-md-3">
<div class="side-filters hidden-xs hidden-sm">
<form accept-charset="UTF-8" action="/gitlab-org/gitlab-ce/issues" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
<fieldset>
<ul class="nav nav-pills nav-stacked">
<li class="active">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened">Sve prijave
</a></li>

<li>
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=created-by-me&amp;sort=&amp;state=opened">Moje prijave
</a></li>
</ul>
</fieldset>
<fieldset>
<legend>Stanje</legend>
<ul class="nav nav-pills">
<li class="active">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened">Otvorene
</a></li>
<li>
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=closed">Zatvorene
</a></li>
<li>
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=all">Sve
</a></li>
</ul>
</fieldset>
<fieldset>
<legend>Oznake</legend>
<ul class="nav nav-pills nav-stacked nav-small labels-filter">
   <li class="label-filter-item light">
      <a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=500&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
    <i class="fa fa-tag"></i>
   </span>
    Ambalaža
  </a></li>
<li class="label-filter-item light">
    <a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=502&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-warning">
    <i class="fa fa-tag"></i>
   </span>
   Zdravstvene deklaracije
</a></li>

<li class="label-filter-item light">
    <a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=6.8.1&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
      <i class="fa fa-tag"></i>
    </span>
   Sastojci
</a></li>
<li class="label-filter-item light">
   <a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=6.9&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
     <i class="fa fa-tag"></i>
     </span>
    Predlozi
</a></li>
<li class="label-filter-item light">
    <a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=LDAP+groups+permissions&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
       <i class="fa fa-tag"></i>
    </span>
    Lokalizacija
</a></li>
<li class="label-filter-item light">
    <a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=Services&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-danger">
       <i class="fa fa-tag"></i>
     </span>
    Upozorenja
</a></li>



</ul>
</fieldset>
<fieldset>
<a class="cgray pull-right" href="/gitlab-org/gitlab-ce/issues"><i class="fa fa-remove"></i>
<strong>Ukloni filter</strong>
</a></fieldset>
</form>

</div>
</div>

