<div class="col-md-3">
<div class="side-filters hidden-xs hidden-sm">
<form accept-charset="UTF-8" action="/gitlab-org/gitlab-ce/issues" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
<fieldset>
<ul class="nav nav-pills nav-stacked">
<li class="active">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened">Everyone's
</a></li>
<li>
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=assigned-to-me&amp;sort=&amp;state=opened">Assigned to me
</a></li>
<li>
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=created-by-me&amp;sort=&amp;state=opened">Created by me
</a></li>
</ul>
</fieldset>
<fieldset>
<legend>State</legend>
<ul class="nav nav-pills">
<li class="active">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened">Open
</a></li>
<li>
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=closed">Closed
</a></li>
<li>
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=all">All
</a></li>
</ul>
</fieldset>
<fieldset>
<legend>Labels</legend>
<ul class="nav nav-pills nav-stacked nav-small labels-filter">
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=500&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
500
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=502&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
502
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=6.8.1&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
6.8.1
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=6.9&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
6.9
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=LDAP+groups+permissions&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
LDAP groups permissions
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=Services&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
Services
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=VMIs&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
VMIs
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=accounts&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
accounts
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=api&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
api
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=archive&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
archive
</a></li>

<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=bug&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-danger">
<i class="fa fa-tag"></i>
</span>
bug
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=bugs&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
bugs
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=clone&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
clone
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=comments&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
comments
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=commits&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
commits
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=confirmed&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-danger">
<i class="fa fa-tag"></i>
</span>
confirmed
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=css&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
css
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=dashboard&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
dashboard
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=dependency+resolution&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
dependency resolution
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=documentation&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-warning">
<i class="fa fa-tag"></i>
</span>
documentation
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=download&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
download
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=email&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
email
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=encoding&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
encoding
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=enhancement&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-success">
<i class="fa fa-tag"></i>
</span>
enhancement
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=error&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
error
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=error+500&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
error 500
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=feature+request&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
feature request
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=fork&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
fork
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=formatting&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
formatting
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=gemnasium&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
gemnasium
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=gfm&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
gfm
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=git&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
git
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=git+version&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
git version
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=gitlab&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
gitlab
</a></li>

<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=rendering&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
rendering
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=requirements.md&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
requirements.md
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=security&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
security
</a></li>

<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=unicode&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
unicode
</a></li>

<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=usability&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
usability
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=view&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
view
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=viewing&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
viewing
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=visibility+level&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
visibility level
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=webhook&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
webhook
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=website&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
website
</a></li>
<li class="label-filter-item light">
<a href="/gitlab-org/gitlab-ce/issues?assignee_id=&amp;label_name=wiki&amp;milestone_id=&amp;scope=all&amp;sort=&amp;state=opened"><span class="label label-info">
<i class="fa fa-tag"></i>
</span>
wiki
</a></li>
</ul>
</fieldset>
<fieldset>
<a class="cgray pull-right" href="/gitlab-org/gitlab-ce/issues"><i class="fa fa-remove"></i>
<strong>Clear filter</strong>
</a></fieldset>
</form>

</div>
</div>

