<div class="container">
   <div class="content">
      <h3 class="page-title">My Projects</h3>
   <div class="pull-right">
      <div class="dropdown inline">
         <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#">
            <span class="light">sort:</span>
               Name
            <b class="caret"></b>
         </a>
  <ul class="dropdown-menu">
    <li>
       <a href="/">Name</a>
       <a href="/">Newest</a>
       <a href="/">Oldest</a>
       <a href="/">Recently updated</a>
       <a href="/">Last updated</a>
     </li>
  </ul>
 </div>
</div>
      <p class="light">
         All projects you have access to are listed here. Public projects are not included here unless you are a member</p>
    
    <hr>

    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs side-filters">
        <fieldset>
          <ul class="nav nav-pills nav-stacked">
            <li class=" active"><a href="">All
              <span class="pull-right">0</span></a></li>
            <li class=""><a href="">Personal
              <span class="pull-right">0</span></a></li>
            <li class=""><a href="">Joined
              <span class="pull-right">0</span></a></li>
            <li class=""><a href="">Owned
              <span class="pull-right">0</span></a></li>
           </ul>
        </fieldset>
     
     <fieldset>
        <legend>Visibility</legend>
           <ul class="nav nav-pills nav-stacked nav-small visibility-filter">
               <li class="light">
                   <a href=""><i class="fa fa-lock"></i>  Private</a></li>
               <li class="light">
                   <a href=""><i class="fa fa-shield"></i>  Internal</a></li>
               <li class="light">
                   <a href=""><i class="fa fa-globe"></i>  Public</a></li>
            </ul>
       </fieldset>
     </div>

  
</div>
</div>
</div>
