
  
<div class="admin-users">
 <header class="navbar navbar-static-top navbar-gitlab">
  <div class="navbar-inner">
    <div class="container">
    <span class="separator"></span>
      <div class="app_logo">
      <a href="">
         <img src="<%= image_path('logo-black.png')%>" alt="">
         </a>
          </div>
        
        <span class="separator"></span>
        
      
      <h4 class="title">Admin area</h4>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="hidden-sm hidden-xs">
              <div class="search">
                <form class="navbar-form pull-left" method="get" action="search">
                  <input class="search-input" id="search" type="text" placeholder="Search">
                </form>
              </div>
            </li>
            <li class="visible-sm visible-xs">
               <a href="/" class="has_bottom_tooltip" data-original-title="Search area">
                 <i class="icon-search"></i>
               </a>
            </li>
            <li class="hidden-xs">
               <a href="/" class="has_bottom_tooltip" data-original-title="Help">
                 <i class="fa fa-question"></i>
               </a>
            </li>
            <li class="hidden-xs">
               <a href="/" class="has_bottom_tooltip" data-original-title="Public area">
                 <i class="fa fa-globe"></i>
               </a>
            </li>
            <li class="hidden-xs">
              <a href="/" class="has_bottom_tooltip" data-title="My snippets">
                 <i class="fa fa-paste"></i>
               </a>
            </li>
            <li class="hidden-xs">
              <a href="/" class="has_bottom_tooltip" data-original-title="Admin area">
                <i class="fa fa-cogs"></i>

              </a>
            </li>
            <li class="hidden-xs">
              <a href="/" class="has_bottom_tooltip" data-original-title="New project">
               <i class="fa fa-plus"></i>
              </a>
            </li>
           <li class="hidden-xs">
               <a href="/" class="has_bottom_tooltip" data-original-title="Profile settings">
                 <i class="fa fa-user"></i>
              </a>
            </li>
             <li class="hidden-xs">
               <a href="/" class="has_bottom_tooltip" data-original-title="Logout">
                  <i class="fa fa-sign-out"></i>
               </a>
            </li>
            <li class="hidden-xs">
                <a href="/" class="profile-pic" id="profile-pic">
                   <img src="<%= image_path('no_avatar.png')%>">
            </a>
           </li>
        </ul>
     </div>
     


    </div>
  </div>
</header>
</div>



<div class="main-nav">
         
<div class="container">
  <ul>
    <li class="home"><a href="/admin" title="Stats"><i class="fa fa-home"></i>
      </a></li>
      <li class=""><a href="/admin/projects">Projects</a></li>
      <li class=""><a href="/admin/groups">Groups</a></li>
      <li class="active"><a href="/admin/users">Users</a></li>
      <li class=""><a href="/admin/logs">Logs</a></li>
      <li class=""><a href="/admin/broadcast_messages">Messages</a></li>
      <li class=""><a href="/admin/hooks">Hooks</a></li>
      <li class=""><a href="/admin/background_jobs">Background Jobs</a></li>
      </ul>
   </div>
</div>




<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-md-3">
        <div class="admin-filter">
           <ul class="nav nav-pills nav-stacked">
             <li class="active">
               <a href="/admin/users">Active
                 <small class="pull-right">1</small>
               </a>
            </li>
            <li class="">
               <a href="/admin/users?filter=admins">Admins
                 <small class="pull-right">1</small>
               </a>
            </li>
            <li class="">
              <a href="/admin/users?filter=blocked">Blocked
                <small class="pull-right">0</small>
              </a>
            </li>
            <li class="">
               <a href="/admin/users?filter=wop">Without projects
                 <small class="pull-right">1</small>
               </a>
            </li>
          </ul>
         <hr>
     <form accept-charset="UTF-8" action="/admin/users" class="form-inline" method="get"><div style="            margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
     <div class="form-group">
        <input class="form-control" id="name" name="name" placeholder="Name, email or username" type="search">
     </div>
    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>
    </button></form>

     <hr>
        <a class="btn btn-cancel" href="/admin/users">Reset</a>
    </div>
   </div>
   <div class="col-md-9">
     <div class="ui-box">
       <div class="title">
          Users (1)
       <div class="pull-right">
     <a class="btn btn-new" href="/admin/users/new">New User</a>
    </div>
  </div>
    <ul class="well-list">
      <li>
    <div class="list-item-name">
   <i class="fa fa-user cgreen"></i>
  <a href="/admin/users/root">Administrator</a>
     <strong class="cred">(Admin)</strong>
       <span class="cred">It's you!</span>
     </div>
    <div class="pull-right">
    <span class="light">
   <i class="fa fa-envelope"></i>
      <a class="light" href="mailto:admin@local.host">admin@local.host</a>
    </span>
     &nbsp;
    <a class="btn btn-small" href="/admin/users/root/edit" id="edit_user_1">Edit</a>
     </div>
    </li>
   </ul>
   </div>

</div>
</div>
</div>
</div>








