<div class="container">
  <div class="content">
    <h3 class="page-title">
      Groups (0)
      <a class="btn btn-new pull-right" href="/admin/groups/new">New Group</a>
    </h3>
   <p class="light">
        Group allows you to keep projects organized.
        Use groups for uniting related projects.
   </p>
   <hr>
     <form accept-charset="UTF-8" action="/admin/groups" class="form-inline" method="get"><div style="         margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
       <div class="form-group">
         <input class="form-control input-mn-300" id="name" name="name" type="text">
       </div>
     <input class="btn submit btn-primary" name="commit" value="Search" type="submit">
   </form>
   <hr>
  <ul class="bordered-list">
  </ul>

  </div>
</div>
