@import "bootstrap";

.admin-users {


 h4 {
 	padding-top: 3px;
 }
  header {
  &.navbar-gitlab {
    margin-bottom: 0;
    min-height: 40px;

    .navbar-inner {
      background: #F1F1F1;
      border-bottom: 1px solid #DDD;
      filter: none;

      .nav > li > a {
        color: grey;
        font-size: 14px;
        line-height: 32px;
        padding: 6px 10px;

        &:hover, &:focus, &:active {
          background: none;
        }
      }

      /** NAV block with links and profile **/
      .nav {
        float: right;
        margin-right: 0;
      }

      .navbar-toggle {
        color: yellow;
        margin: 0 -15px 0 0;
        padding: 10px;
        border-radius: 0;

        button i { font-size: 22px; }

        &.collapsed { background-color: transparent !important;}

        &:hover {
          background-color: #EEE;
        }
      }
    }

    .turbolink-spinner {
      font-size: 20px;
      margin-right: 10px;
    }

    @media (max-width: $screen-xs-max) {
      border-width: 0;
      font-size: 18px;

      .app_logo { margin-left: -15px;
                img {   height: 50px;
                    width: 50px;}
                   }
      .title {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        white-space: nowrap;
        max-width: 70%;
      }

      .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
      }

      .navbar-nav {
        margin: 5px 0;

        .visible-xs, .visable-sm {
          display: table-cell !important;
        }
      }

      li {
        display: table-cell;
        width: 1%;

        a {
          text-align: center;
          font-size: 18px !important;
        }
      }
    }
  }

  z-index: 10;

  /**
   *
   * Logo holder
   *
   */
  .app_logo {
    float: left;
    margin-right: 2px;

      &:hover {
      background-color: yellow;
    }
    

    a {
      float: left;
      padding: 0px;
      margin: 0 6px;

      h1 {
        margin: 0;
        background: image-url('logo-black.png') no-repeat center center;
        background-size: 22px;
        
        height: 36px;
        width: 30px;
        
        text-indent: -9999px;
      }
       
     &:hover {
      background-color: yellow;
    }
    }
   

    img {
    	height: 38px;
    	width: 35px;
    	margin-left: 3px;
    	margin-top: 5px;

    }
    
  }

  /**
   *
   * Project / Area name
   *
   */
  .title {
    position: relative;
    float: left;
    margin: 0;
    margin-left: 5px;
    margin-top: 10px;
    
  }

  .profile-pic {
    position: relative;
    top: -1px;
    img {
      width: 26px;
      height: 26px;
      
    }
  }

  /**
   *
   * Search box
   *
   */
  .search {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
    border-radius: 7px;

    form {
      margin: 0;
      padding: 0;
      border-radius: 4px;
    }

    .search-input {
      background-image: image-url("icon-search.png");
      background-repeat: no-repeat;
      background-position: 10px;
      height: inherit;
      padding: 4px 6px;
      padding-left: 25px;
      font-size: 13px;
      border-radius: 4px;
      border: 1px solid #c6c6c6;
      box-shadow: none;
      @include transition(all 0.15s ease-in 0s);
    }
  }


  /*
   * Dark header
   *
   */
  &.header-dark {
    &.navbar-gitlab {
      .navbar-inner {
        background: #708090;
        border-bottom: 1px solid #AAA;

        .navbar-toggle { color: #fff; }

        .nav > li > a {
          color: #AAA;

          &:hover, &:focus, &:active {
            background: none;
            color: #FFF;
          }
        }
      }
    }

    .turbolink-spinner {
      color: #FFF;
    }

    .search {
      .search-input {
        background-color: #D2D5DA;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #AAA;

        &:focus {
          background-color: white;
        }
      }
    }
    .search-input::-webkit-input-placeholder {
      color: #666;
    }
    .app_logo {
      a {
        h1 {
          background: image-url('logo-white.png') no-repeat center center;
          background-size: 32px;
          color: #fff;
        }
         &:hover {
      background-color: yellow;
    }
      }
    }
    .title {
      a {
        color: #FFF;
        &:hover {
          text-decoration: underline;
        }
      }
      color: #fff;
    }
  }

  .app_logo {
    .separator {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .separator {
    float: left;
    height: 46px;
    width: 2px;
    background: white;
    border-left: 1px solid #DDD;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.search .search-input {
  width: 300px;
  &:focus {
    width: 400px;
  }
}

@media (max-width: 1200px)  {
  .search .search-input {
    width: 200px;
    &:focus {
      width: 300px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  #nprogress .spinner {
    right: 35px !important;
  }
}

}













.main-nav {
  background: #f5f5f5;
  margin: 20px 0;
  margin-top: 0;
  padding-top: 4px;
  border-bottom: 1px solid #E1E1E1;
  height: 45px;

  ul {
    padding: 0;
    margin: auto;
    height: 40px;
    overflow: hidden;
    .count {
      font-weight: normal;
      display: inline-block;
      height: 15px;
      padding: 1px 6px;
      height: auto;
      font-size: 0.82em;
      line-height: 14px;
      text-align: center;
      color: #777;
      background: #eee;
      border-radius: 8px;
    }
    .label {
      background: hover;
      text-shadow: none;
      color: grey;
    }
    li {
      list-style-type: none;
      margin: 0;
      display: table-cell;
      width: 1%;
      &.active {
        a {
          color: #333;
          font-weight: bold;
          &:after {
            content: '';
            display: block;
            position: relative;
            bottom: 8px;
            left: 50%;
            width: 0;
            height: 0;
            border-color: transparent transparent #333 transparent;
            border-style: solid;
            border-width: 6px;
            margin-left: -6px;
          }
        }
      }

      &:hover {
        a {
          color: $link_color;
          &:after {
            content: '';
            display: block;
            position: relative;
            bottom: 8px;
            left: 50%;
            width: 0;
            height: 0;
            border-color: transparent transparent #29b transparent;
            border-style: solid;
            border-width: 6px;
            margin-left: -6px;
          }
        }
      }

      &.home {
        a {
          i {
            font-size: 20px;
            position: relative;
            top: 4px;
          }
        }
      }
    }
    a {
      display: block;
      text-align: center;
      font-weight: 500;
      height: 38px;
      line-height: 34px;
      color: #777;
      text-shadow: 0 1px 1px white;
      padding: 0 10px;
      text-decoration: none;
      padding-top: 2px;
    }
  }

  @media (max-width: $screen-xs-max) {
    font-size: 18px;
    margin: 0;

    max-height: none;

    &, .container {
      padding: 0;
      border-top: 0;
    }

    ul {
      height: auto;

      li {
        display: list-item;
        width: auto;
        padding: 5px 0;

        &.active {
          background-color: yellow;

          a {
            color: #fff;
            font-weight: normal;
            text-shadow: none;

            &:after { display: none; }
          }
        }
      }
    }
  }
}




/**
 * Admin area
 *
 */
.admin-dashboard {
  .data {
    a {
      h1 {
        line-height: 48px;
        font-size: 48px;
        padding: 20px;
        text-align: center;
        font-weight: normal;
      }
    }
  }

  .str-truncated {
    max-width: 60%;
  }
}

.admin-filter form {
  label { width: 110px; }
  .controls { margin-left: 130px; }
  .form-actions { padding-left: 130px; background: #fff }
  .visibility-levels {
    .controls {
        margin-bottom: 9px;
    }

    i {
      color: inherit;
    }
  }
}

.broadcast-messages {
  .message {
    line-height: 2;
  }
}





/**
 * Well styled list
 *
 */
.well-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 10px;
    min-height: 20px;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    &.disabled {
      color: #888;
    }

    &.unstyled {
      &:hover {
        background: none;
      }
    }

    &.warning-row {
      background-color: #fcf8e3;
      border-color: #faebcc;
      color: #8a6d3b;
    }

    &.smoke { background-color: #f5f5f5; }

    &:hover {
      background: #d6e7e8;
      border-bottom: 1px solid #ADF;
    }

    &:last-child {
      border-bottom: none;

      &.bottom {
        background: #f5f5f5;
      }
    }

    .author { color: #999; }

    .list-item-name {
      float: left;
      position: relative;
      top: 3px;
    }

    p {
      padding-top: 1px;
      margin: 0;
      color: #222;
      img {
        position: relative;
        top: 3px;
      }
    }

    .well-title {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

ol, ul {
  &.styled {
    li {
      padding: 2px;
    }
  }
}

/** light list with border-bottom between li **/
ul.bordered-list {
  margin: 5px 0px;
  padding: 0px;
  li {
    padding: 5px 0;
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    display: block;
    margin: 0px;
    &:last-child { border:none }
    &.active {
      background: #f9f9f9;
      a { font-weight: bold; }
    }

    &.light {
      a { color: #777; }
    }
  }

  &.top-list {
    li:first-child {
      padding-top: 0;
      h4, h5 {
        margin-top: 0;
      }
    }
  }
}












.ui-box {
  background: #FFF;
  margin-bottom: 20px;
  border: 1px solid #DDD;
  word-wrap: break-word;

  img {
    max-width: 100%;
  }

  pre {
    code {
      background: none !important;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .title {
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
    color: #666;
    font-size: 16px;
    text-shadow: 0 1px 1px #fff;
    padding: 0 10px;
    font-size: 14px;
    line-height: 40px;
    font-weight: normal;
    margin: 0;

    > a {
      text-shadow: 0 1px 1px #fff;
    }

    form {
      margin-bottom: 0;
      margin-top: 0;
    }

    .btn {
      vertical-align: middle;
      padding: 4px 12px;
      @include box-shadow(0 0px 1px 1px #f2f2f2);
    }

    .nav-pills {
      > li {
        > a {
          padding: 13px;
          margin: 0;
          font-size: 13px;
        }
        &.active {
          > a {
            background: #D5D5D5;
            color: red;
            
            border-radius: 0;
            border-left: 1px solid #CCC;
            border-right: 1px solid #CCC;
          }
        }
      }
    }
  }

  .body {
    padding: 10px;
  }

  &.padded {
    h5, .title {
      margin: -20px;
      margin-bottom: 0;
      padding: 5px 20px;
    }
  }

  .row_title {
    font-weight: 500;
    color: #444;
    &:hover {
      color: #444;
      text-decoration: underline;
    }
  }

  .form-holder {
    padding-top: 20px;
    form {
      margin-bottom: 0;
      legend {
        text-indent: 10px;
      }
      .form-actions {
        margin-bottom: 0;
      }
    }
  }
}

/*
 * Small box
 */
.ui-box.ui-box-small {
  margin-bottom: 10px;

  .title {
    font-size: 13px;
    line-height: 30px;

    a {
      color: #666;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*
 * Danger box
 */
.ui-box.ui-box-danger {
  background: #f7f7f7;
  border: none;

  .title {
    background: #D65;
    color: #fff;
    text-shadow: none;
    font-weight: 500;
  }
}

/*
 * Block under tw-bootstrap tabs
 */
.tab-pane {
  .ui-box {
    margin: 3px 3px 25px 3px;
  }
}













   .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #444444;
  background-color: #fff;
  border-color: #ccc;
  text-shadow: none;

  &.hover,
  &:hover {
    color: #444444;
    text-decoration: none;
    background-color: #ebebeb;
    border-color: #adadad;
  }

  &.focus,
  &:focus {
    color: #444444;
    text-decoration: none;
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &.active,
  &:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.btn-primary {
    color: #ffffff;
    background-color: #429bca;
    border-color: #358ebd;

    &.hover,
    &:hover,
    &.disabled,
    &[disabled] {
      color: #ffffff;
      background-color: #3286b1;
      border-color: #286e8e;
    }
  }

  &.btn-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;


    &.hover,
    &:hover,
    &.disabled,
    &[disabled] {
      color: #ffffff;
      background-color: #47a447;
      border-color: #398439;
    }
  }

  &.btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;


    &.hover,
    &:hover,
    &.disabled,
    &[disabled] {
      color: #ffffff;
      background-color: #d2322d;
      border-color: #ac2925;
    }
  }

  &.btn-new {
    @extend .btn-success;
  }

  &.btn-create {
    @extend .wide;
    @extend .btn-success;
  }

  &.btn-save {
    @extend .wide;
    @extend .btn-primary;
  }

  &.btn-remove {
    @extend .btn-danger;
  }

  &.btn-cancel {
    float: right;
  }

  &.wide {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.btn-small {
    padding: 2px 10px;
    font-size: 12px;
  }

  &.btn-tiny {
    font-size: 11px;
    padding: 2px 6px;
    line-height: 16px;
    margin: 2px;
  }

  &.btn-close {
    color: #B94A48;
    font-weight: bold;
    &:hover {
      color: #B94A48;
    }
  }

  &.btn-reopen {
    color: #468847;
    font-weight: bold;
    &:hover {
      color: #468847;
    }
  }

  &.btn-grouped {
    margin-right: 7px;
    float: left;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.btn-block {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  &.btn {
    padding: 6px 0;
  }
}

.btn-group {
  &.btn-grouped {
    margin-right: 7px;
    float: left;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.btn-group-small > .btn { @extend .btn.btn-small; }
.btn-group-tiny > .btn { @extend .btn.btn-tiny; }



  .form-actions {
     padding: 17px 20px 18px;
     margin-top: 18px;
     margin-bottom: 18px;
     background-color: whitesmoke;
     border-top: 1px solid #e5e5e5;
     padding-left: 17%;
   }











input[type='search'].search-text-input {
  background-image: image-url("icon-search.png");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 25px;
}

input[type='text'].danger {
  background: #F2DEDE!important;
  border-color: #D66;
  text-shadow: 0 1px 1px #fff
}

fieldset legend {
  font-size: 16px;
}

.datetime-controls {
  select {
    width: 100px;
  }
}

.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: whitesmoke;
  border-top: 1px solid #e5e5e5;
  padding-left: 17%;
}

label {
  &.control-label {
    @extend .col-sm-2;
  }

  &.inline-label {
    margin: 0;
  }
}

.inline-input-group {
  width: 250px;
}

.input-mx-250 {
  max-width: 250px;
}

.input-mn-300 {
  min-width: 300px;
}

.custom-form-control {
  width: 150px;
}

@media (min-width: $screen-sm-min) {
  .custom-form-control {
    width: 150px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .custom-form-control {
    width: 170px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .custom-form-control {
    width: 200px;
  }
}

.commit-message-container {
  background-color: $body-bg;
  position: relative;
  
  $left: 12px;
  .max-width-marker {
    color: rgba(0, 0, 0, 0.0);
    font-family: inherit;
    left: $left;
    height: 100%;
    border-right: 1px solid mix($input-border, white);
    position: absolute;
    z-index: 1;
  }
  > textarea {
    background-color: rgba(0, 0, 0, 0.0);
    font-family: inherit;
    padding-left: $left;
    position: relative;
    z-index: 2;
  }
}




/*issues.css*/

.issues-list {
  .issue {
    padding: 10px;
    position: relative;

    .issue-title {
      margin-bottom: 5px;
      font-size: 14px;
    }

    .issue-info {
      color: #999;
    }

    .issue-check {
      float: left;
      padding-right: 8px;
      margin-bottom: 10px;
      min-width: 15px;
    }

    .issue-labels {
      display: inline-block;
    }

    .issue-actions {
      display: none;
      position: absolute;
      top: 10px;
      right: 2px;
    }

    &:hover {
      .issue-actions {
        display: block;
      }
    }
  }
}

.check-all-holder {
  height: 32px;
  float: left;
  margin-right: 12px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.issues_content {
  .title {
    height: 40px;
  }

  form {
    margin: 0;
  }
}

@media (min-width: 800px)  { .issues_filters select { width: 160px; }  }
@media (min-width: 1200px) { .issues_filters select { width: 220px; }  }

@media (min-width: 800px)  { .issues_bulk_update .select2-container { min-width: 120px; }  }
@media (min-width: 1200px) { .issues_bulk_update .select2-container { min-width: 160px; }  }

.issues-holder {
  .issues_filters {
  }

  .issues_bulk_update {
    margin: 0;
    form {
      float:left;
    }

    .update_selected_issues {
      margin-left: 4px;
    }

    .select2-container .select2-choice {
      height: 32px;
      line-height: 28px;
      color: #444 !important;
      font-weight: 500;
    }
  }
}

#update_status {
  width: 100px;
}

.participants {
  margin-bottom: 10px;
}

.issues_bulk_update {
  .select2-container {
    text-shadow: none;
  }
}

.issue-search-form {
  margin: 0;
  height: 24px;

  .issue_search {
    border: 1px solid #DDD !important;
    background-color: #f4f4f4;
  }
}

.issue-show-labels .label {
  padding: 6px 10px;
}

form.edit-issue {
  margin: 0;
}

.merge-request,
.issue {
  &.today {
    background: #EFE;
    border-color: #CEC;
  }

  &.closed {
    background: #F5f5f5;
    border-color: #E5E5E5;
  }

  &.merged {
    background: #F5f5f5;
    border-color: #E5E5E5;
  }
}

@media (max-width: $screen-xs-max) {
  .issue-btn-group {
    width: 100%;
    margin-top: 5px;

    .btn-group {
      width: 100%;

      ul {
        width: 100%;
        text-align: center;
      }
    }

    .btn {
      width: 100%;
      margin-top: -1px;

      &:first-child:not(:last-child) {
        border-radius: 4px 4px 0 0;
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      &:last-child:not(:first-child) {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}





ul.nav.nav-projects-tabs {
  @extend .nav-tabs;

  padding-left: 8px;

  li {
    a {
      padding: 6px 25px;
      margin-top: 2px;
      border-color: #DDD;
      background-color: #EEE;
      text-shadow: 0 1px 1px white;
      color: #555;
    }
    &.active {
      a {
        font-weight: bold;
      }
    }
  }
}




 /*common.css*/

 /** COLORS **/
.cgray { color: gray }
.clgray { color: #BBB }
.cred { color: #D12F19 }
.cgreen { color: #4a2 }
.cblue { color: #29A }
.cblack { color: #111 }
.cdark { color: #444 }
.camber { color: #ffc000 }
.cwhite { color: #fff!important }
.bgred { background: #F2DEDE!important }

/** COMMON CLASSES **/
.prepend-top-10 { margin-top:10px }
.prepend-top-20 { margin-top:20px }
.prepend-left-10 { margin-left:10px }
.prepend-left-20 { margin-left:20px }
.append-right-10 { margin-right:10px }
.append-right-20 { margin-right:20px }
.append-bottom-10 { margin-bottom:10px }
.append-bottom-15 { margin-bottom:15px }
.append-bottom-20 { margin-bottom:20px }
.inline { display: inline-block }

.underlined-link { text-decoration: underline; }
.hint { font-style: italic; color: #999; }
.light { color: #888 }

.slead {
  color: #666;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: normal;
  line-height: 24px;
}

.tab-content {
  overflow: visible;
}

pre {
  &.clean {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  &.well-pre {
    border: 1px solid #EEE;
    background: #f9f9f9;
    border-radius: 0;
    color: #555;
  }
}

.dropdown-menu > li > a {
  text-shadow: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #29b;
  color: #FFF
}

.breadcrumb > li + li:before {
  content: "/";
  padding: 0;
  color: #666;
}

.str-truncated {

}

/** FLASH message **/
.author_link {
  color: $link_color;
}

.help li { color:grey; }

.back-link {
  font-size: 14px;
}

table a code {
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.loading {
  margin: 20px auto;
  height: 40px;
  color: #555;
  font-size: 32px;
  text-align: center;
}

span.update-author {
  display: block;
  color: #999;
  font-weight: normal;
  font-style: italic;
  strong {
    font-weight: bold;
    font-style: normal;
  }
}

.user-mention {
  color: #2FA0BB;
  font-weight: bold;
}

.field_with_errors {
  display: inline;
}

.line_holder {
  &:hover {
    td {
      background: #FFFFCF !important;
    }
  }
}

p.time {
  color: #999;
  font-size: 90%;
  margin: 30px 3px 3px 2px;
}

.highlight {
  text-shadow: none;
}

.highlight_word {
  border-bottom: 2px solid #F90;
}

.thin_area{
  height: 150px;
}

// Fixes alignment on notes.
.new_note {
  label {
    text-align: left;
  }
}

// Fix issue with notes & lists creating a bunch of bottom borders.
li.note {
  img { max-width:100% }
  .note-title {
    li {
      border-bottom:none !important;
    }
  }
}

.markdown {
  img {
    max-width: 100%;
  }
}

.wiki_content code, .readme code{
  background-color: inherit;
}

.team_member_show {
  td:first-child {
    color: #aaa;
  }
}

.rss-icon {
  img {
    width: 24px;
    vertical-align: top;
  }

  strong {
    line-height: 24px;
  }
}

.supp_diff_link,
.show-all-commits {
  cursor: pointer;
}

.git_error_tips {
  @extend .col-md-6;
  text-align: left;
  margin-top: 40px;
  pre {
    background: white;
    border: none;
    font-size: 12px;
  }
}

.error-message {
  padding: 10px;
  background: #C67;
  margin: 0;
  color: #FFF;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.no-ssh-key-message {
  padding: 10px 0;
  background: #C67;
  margin: 0;
  color: #FFF;
  margin-top: -1px;
  text-align: center;

  a {
    color: #fff;
    text-decoration: underline;
  }

  .links-xs {
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }
}

.warning_message {
  border-left: 4px solid #ed9;
  color: #b90;
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffe6;
  padding-left: 20px;

  &.centered {
    text-align: center;
  }
}

.gitlab-promo {
  a {
    color: #aaa;
    margin-right: 30px;
  }
}

.milestone {
  &.milestone-closed {
    background: #eee;
  }
  .progress {
    margin-bottom: 0;
    margin-top: 4px;
  }
}

h1.http_status_code {
  font-size: 56px;
  line-height: 100px;
  font-weight: normal;
  color: #456;
}

.control-group {
  .controls {
    span {
      &.descr {
        position: relative;
        top: 2px;
        left: 5px;
        color: #666;
      }
    }
  }
}

img.emoji {
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

.chart {
  overflow: hidden;
  height: 220px;
}

.navless-container {
  margin-top: 20px;
}

.description-block {
  @extend .light-well;
  @extend .light;
  margin-bottom: 10px;
}

table {
  td.permission-x {
    background: #D9EDF7 !important;
    text-align: center;
  }
}

.dashboard-intro-icon {
  float: left;
  font-size: 32px;
  color: #AAA;
  padding: 5px 0;
  width: 50px;
  min-height: 100px;
}

.broadcast-message {
  padding: 10px;
  text-align: center;
  background: #555;
  color: #BBB;
}

.broadcast-message-preview {
  @extend .broadcast-message;
  margin-bottom: 20px;
}

.btn-sign-in {
  margin-top: 7px;
  text-shadow: none;
}

.side-filters {
  fieldset {
    margin-bottom: 15px;
  }
}

@media (max-width: $screen-xs-max) {
  .container .content { margin-top: 20px; }
}

.wiki .highlight, .note-body .highlight {
  margin-bottom: 9px;
}



ul.nav.nav-tabs {
  width: 1110px;
  margin-top: 20px;
}













.column {
       @include outer-container;
    }
    .column6 {
       @include span-columns(6);
    }

    .column4 {
       @include span-columns(4);
    }

    .column2 {
       @include span-columns(2);
    }

    .column8 {
       @include span-columns(8);
    }

    .column10 {
       @include span-columns(10);
    }

    .column3 {
       @include span-columns(3);
    }

    .column5 {
       @include span-columns(5);
    }

    .column1 {
       @include span-columns(1);
    }

    .column9 {
       @include span-columns(9);
    }

    .column7 {
       @include span-columns(7);
    }


