<div class="col-md-9 issues-holder">
  <div class="append-bottom-10">
    <div class="check-all-holder">
   <input class="check_all_issues left" id="check_all_issues" name="check_all_issues" type="checkbox">
      </div>
        <div class="issues-filters">
          <div class="dropdown inline">
    
    
</div>
    

<div class="pull-right">
<div class="dropdown inline prepend-left-10">
<a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
<span class="light">Sortiraj:</span>
najnovije
<b class="caret"></b>
</a>

</div>

</div>
</div>
<div class="clearfix">
<div class="issues_bulk_update hide">
<form accept-charset="UTF-8" action="/gitlab-org/gitlab-ce/issues/bulk_update" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="Q/+PScGG+1KGpHkAO8SxUYzUSLPRPw5isIvu51Tnu4E=" type="hidden"></div>
<div style="width: 100px;" id="s2id_update_status" class="select2-container"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">Status</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input id="s2id_autogen1" class="select2-focusser select2-offscreen" type="text"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" type="text">   </div>   <ul class="select2-results">   </ul></div></div><select class="select2-offscreen" tabindex="-1" id="update_status" name="update[status]"><option value="">Status</option><option value="open">Open</option>
<option value="closed">Closed</option></select>
<div id="s2id_update_assignee_id" class="select2-container ajax-project-users-select"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span class="select2-chosen">Assignee</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input id="s2id_autogen3" class="select2-focusser select2-offscreen" type="text"><div class="select2-drop select2-display-none ajax-project-users-dropdown select2-with-searchbox">   <div class="select2-search">       <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" type="text">   </div>   <ul class="select2-results">   </ul></div></div><input tabindex="-1" class="ajax-project-users-select  select2-offscreen" data-placeholder="Assignee" data-project-id="13083" id="update_assignee_id" name="update[assignee_id]" value="" type="hidden">
<div style="width: auto;" id="s2id_update_milestone_id" class="select2-container"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">Milestone</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input id="s2id_autogen2" class="select2-focusser select2-offscreen" type="text"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" type="text">   </div>   <ul class="select2-results">   </ul></div></div><select class="select2-offscreen" tabindex="-1" id="update_milestone_id" name="update[milestone_id]"><option value="">Milestone</option><option value="None (backlog)">None (backlog)</option></select>
<input id="update_issues_ids" name="update[issues_ids]" value="" type="hidden">
<input id="status" name="status" type="hidden">
<button class="btn update_selected_issues btn-save" name="button" type="submit">Update issues</button>
</form>

</div>
</div>
</div>
<div class="ui-box">
<ul class="well-list issues-list">

<li class="issue" id="issue_35415" url="/gitlab-org/gitlab-ce/issues/326">
   <div class="issue-check">
      <input class="selected_issue" data-id="35415" disabled="disabled" id="selected_issue_35415" name="selected_issue_35415" type="checkbox">
   </div>
   <div class="issue-title">
      <span class="light">#001</span>
         <span class="str-truncated">
             <a class="row_title" href="/gitlab-org/gitlab-ce/issues/326">Problemi sa ambalažom. Neadekvatna ambalaža za dati proizvod.</a>
         </span>
    </div>
    <div class="issue-info">
           <div class="pull-right">
          <small>promjenjeno <time data-original-title="Jun 10, 2014 2:20pm" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-10T14:20:31Z" title="">prije 5 sati</time>
              <script>$('.issue_update_ago').timeago().tooltip()</script>
          </small>
       </div>
       <div class="issue-labels">
          <span class="label label-info"><i class="fa fa-tag"></i>  Ambalaža</span>
          
       </div>
     </div>
     <div class="issue-actions">
      </div>
    </li>


    <li class="issue" id="issue_35405" url="/gitlab-org/gitlab-ce/issues/325">
        <div class="issue-check">
            <input class="selected_issue" data-id="35405" disabled="disabled" id="selected_issue_35405" name="selected_issue_35405" type="checkbox">
        </div>
         <div class="issue-title">
           <span class="light">#002</span>
           <span class="str-truncated">
               <a class="row_title" href="/gitlab-org/gitlab-ce/issues/325">Na proizvod je ištampana pogrešna deklaracija.</a>
            </span>
         </div>
        <div class="issue-info">
           <div class="pull-right">
              <small>promjenjeno  <time data-original-title="Jun 10, 2014 2:17pm" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-10T14:17:30Z" title=""> prije 20 sati</time>
               <script>$('.issue_update_ago').timeago().tooltip()</script>
              </small>
            </div>
          <div class="issue-labels">
             <span class="label label-danger"><i class="fa fa-tag"></i>  Upozorenja</span>
             
          </div>
      </div>
      <div class="issue-actions">
      </div>
    </li>


<li class="issue" id="issue_35270" url="/gitlab-org/gitlab-ce/issues/324">
    <div class="issue-check">
        <input class="selected_issue" data-id="35270" disabled="disabled" id="selected_issue_35270" name="selected_issue_35270" type="checkbox">
    </div>
    <div class="issue-title">
        <span class="light">#003</span>
        <span class="str-truncated">
            <a class="row_title" href="/gitlab-org/gitlab-ce/issues/324">Nedostatak velikog broja informacija na ambalaži.</a>
        </span>
     </div>
     <div class="issue-info">
        <span><i class="fa fa-comments"></i>1</span>
     <div class="pull-right">
        <small>promjenjeno <time data-original-title="Jun 10, 2014 7:19am" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-10T07:19:11Z" title="">prije 1 dana</time>
         <script>$('.issue_update_ago').timeago().tooltip()</script>
        </small>
     </div>
     <div class="issue-labels">
        <span class="label label-info"><i class="fa fa-tag"></i> Sastojci</span>
        <span class="label label-info"><i class="fa fa-tag"></i> Ambalaža</span>
      </div>
    </div>
    <div class="issue-actions">
    </div>
  </li>



  <li class="issue" id="issue_35197" url="/gitlab-org/gitlab-ce/issues/323">
     <div class="issue-check">
        <input class="selected_issue" data-id="35197" disabled="disabled" id="selected_issue_35197" name="selected_issue_35197" type="checkbox">
     </div>
     <div class="issue-title">
        <span class="light">#004</span>
        <span class="str-truncated">
            <a class="row_title" href="/gitlab-org/gitlab-ce/issues/323">Proizvod nema vidljivo prikazana upozorenja na alergene na ambalaži.</a></span>
     </div>
       <div class="issue-info">
     <span><i class="fa fa-comments"></i>1</span>
     <div class="pull-right">
         <small>promjenjeno <time data-original-title="Jun 09, 2014 6:59pm" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-09T18:59:37Z" title="">prije 1 dana</time>
             <script>$('.issue_update_ago').timeago().tooltip()</script>
         </small>
     </div>
     <div class="issue-labels">
         <span class="label label-danger"><i class="fa fa-tag"></i> Upozorenja</span>
         <span class="label label-warning"><i class="fa fa-tag"></i> Zdravstvene deklaracije</span>
     </div>
   </div>
   <div class="issue-actions">
   </div>
 </li>


  <li class="issue" id="issue_35196" url="/gitlab-org/gitlab-ce/issues/322">
      <div class="issue-check">
          <input class="selected_issue" data-id="35196" disabled="disabled" id="selected_issue_35196" name="selected_issue_35196" type="checkbox">
      </div>
      <div class="issue-title">
          <span class="light">#005</span>
           <span class="str-truncated">
            <a class="row_title" href="/gitlab-org/gitlab-ce/issues/322">Proizvod na ambalaži ne sadrži tabelu nutritivnih vrijednosti.</a></span>
      </div>
      <div class="issue-info">
      <span><i class="fa fa-comments"></i>1</span>
         <div class="pull-right">
            <small>promjenjeno <time data-original-title="Jun 09, 2014 6:51pm" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-09T18:51:57Z" title="">prije 1 dana</time>
                <script>$('.issue_update_ago').timeago().tooltip()</script>
            </small>
         </div>
        <div class="issue-labels">
            <span class="label label-info"><i class="fa fa-tag"></i> Ambalaža</span>
            <span class="label label-info"><i class="fa fa-tag"></i> Sastojci</span>
         </div>
     </div>
     <div class="issue-actions">
     </div>
   </li>


  <li class="issue" id="issue_35056" url="/gitlab-org/gitlab-ce/issues/321">
     <div class="issue-check">
        <input class="selected_issue" data-id="35056" disabled="disabled" id="selected_issue_35056" name="selected_issue_35056" type="checkbox">
     </div>
     <div class="issue-title">
        <span class="light">#006</span>
        <span class="str-truncated">
            <a class="row_title" href="/gitlab-org/gitlab-ce/issues/321">Ambalaža ne sadrži otisak roka trajanja proizvoda.</a></span>
     </div>
     <div class="issue-info">
        <div class="pull-right">
            <small>promjenjeno <time data-original-title="Jun 11, 2014 9:24am" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-11T09:24:17Z" title="">prije 2 dana</time>
                <script>$('.issue_update_ago').timeago().tooltip()</script>
           </small>
        </div>
     <div class="issue-labels">
         <span class="label label-danger"><i class="fa fa-tag"></i> Upozorenja</span>
     </div>
   </div>
    <div class="issue-actions">
     </div>
  </li>


  <li class="issue" id="issue_34937" url="/gitlab-org/gitlab-ce/issues/320">
      <div class="issue-check">
          <input class="selected_issue" data-id="34937" disabled="disabled" id="selected_issue_34937" name="selected_issue_34937" type="checkbox">
      </div>
      <div class="issue-title">
          <span class="light">#007</span>
          <span class="str-truncated">
              <a class="row_title" href="/gitlab-org/gitlab-ce/issues/320">Ambalaža ne sadrži broj telefona za pritužbe.</a>
          </span>
       </div>
       <div class="issue-info">
       <div class="pull-right">
           <small>promjenjeno <time data-original-title="Jun 07, 2014 12:47pm" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-07T12:47:35Z" title="">prije 3 dana</time>
               <script>$('.issue_update_ago').timeago().tooltip()</script>
           </small>
        </div>
       <div class="issue-labels">
           <span class="label label-info"><i class="fa fa-tag"></i> Ambalaža</span>
       </div>
     </div>
     <div class="issue-actions">
     </div>
  </li>


   <li class="issue" id="issue_34936" url="/gitlab-org/gitlab-ce/issues/319">  
      <div class="issue-check">
          <input class="selected_issue" data-id="34936" disabled="disabled" id="selected_issue_34936" name="selected_issue_34936" type="checkbox">
       </div>
       <div class="issue-title">
           <span class="light">#008</span>
           <span class="str-truncated">
               <a class="row_title" href="/gitlab-org/gitlab-ce/issues/319">Ambalaža ne sadrži kontakt info uvoznika i distributera.</a>
            </span>
        </div>
        <div class="issue-info">
        <div class="pull-right">
             <small>promjenjeno <time data-original-title="Jun 07, 2014 12:43pm" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-07T12:43:14Z" title="">prije 4 dana</time>
                  <script>$('.issue_update_ago').timeago().tooltip()</script>
             </small>
         </div>
       <div class="issue-labels">
            <span class="label label-info"><i class="fa fa-tag"></i> Ambalaža</span>
       </div>
     </div>
     <div class="issue-actions">
     </div>
   </li>



   <li class="issue" id="issue_34884" url="/gitlab-org/gitlab-ce/issues/318">
      <div class="issue-check">
         <input class="selected_issue" data-id="34884" disabled="disabled" id="selected_issue_34884" name="selected_issue_34884" type="checkbox">
      </div>
      <div class="issue-title">
         <span class="light">#009</span>
         <span class="str-truncated">
             <a class="row_title" href="/gitlab-org/gitlab-ce/issues/318">Proizvod koristi obmanjujuću ambalažu.</a></span>
      </div>
         <div class="issue-info">
         <div class="pull-right">
             <small>promjenjeno <time data-original-title="Jun 07, 2014 3:12am" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-07T03:12:13Z" title="">prije 4 dana</time>
                  <script>$('.issue_update_ago').timeago().tooltip()</script>
            </small>
        </div>
        <div class="issue-labels">
             <span class="label label-info"><i class="fa fa-tag"></i> Ambalaža</span>
             <span class="label label-danger"><i class="fa fa-tag"></i> Upozorenja</span>
        </div>
      </div>
      <div class="issue-actions">
      </div>
   </li>



   <li class="issue" id="issue_34757" url="/gitlab-org/gitlab-ce/issues/317">
      <div class="issue-check">
          <input class="selected_issue" data-id="34757" disabled="disabled" id="selected_issue_34757" name="selected_issue_34757" type="checkbox">
      </div>
      <div class="issue-title">
          <span class="light">#010</span>
          <span class="str-truncated">
             <a class="row_title" href="/gitlab-org/gitlab-ce/issues/317">Nedostatak informacija o čuvanju i održavanju proizvoda.</a></span>
       </div>
       <div class="issue-info">
          <div class="pull-right">
               <small>promjenjeno <time data-original-title="Jun 06, 2014 10:55am" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-06T10:55:41Z" title="">prije 5 dana</time>
                    <script>$('.issue_update_ago').timeago().tooltip()</script>
               </small>
           </div>
           <div class="issue-labels">
               <span class="label label-info"><i class="fa fa-tag"></i> Ambalaža</span>
           </div>
        </div>
      <div class="issue-actions">
      </div>
   </li>



   <li class="issue" id="issue_34274" url="/gitlab-org/gitlab-ce/issues/312">
      <div class="issue-check">
          <input class="selected_issue" data-id="34274" disabled="disabled" id="selected_issue_34274" name="selected_issue_34274" type="checkbox">
       </div>
       <div class="issue-title">
           <span class="light">#011</span>
           <span class="str-truncated">
                <a class="row_title" href="/gitlab-org/gitlab-ce/issues/312">Nedostatak jedinice mjere na ambalaži.</a></span>
         </div>
         <div class="issue-info">
              <span><i class="fa fa-comments"></i>1</span>
                  <div class="pull-right">
                       <small>promjenjeno <time data-original-title="Jun 04, 2014 1:23pm" class="issue_update_ago" data-placement="bottom" data-toggle="tooltip" datetime="2014-06-04T13:23:36Z" title="">prije 7 dana</time>
                             <script>$('.issue_update_ago').timeago().tooltip()</script>
                      </small>
                   </div>
                 <div class="issue-labels">
                    <span class="label label-info"><i class="fa fa-tag"></i> Ambalaža</span>
                 </div>
             </div>
         <div class="issue-actions">
      </div>
    </li>





</ul>
</div>
<div class="pull-right">
<span class="issue_counter">157</span>
prijava za ovaj filter
</div>
<div class="gl-pagination">
<ul class="pagination">

<li class="page active">
<a href="/gitlab-org/gitlab-ce/issues?scope=all&amp;state=opened">1</a>
</li>

<li class="page">
<a href="/gitlab-org/gitlab-ce/issues?page=2&amp;scope=all&amp;state=opened" rel="next">2</a>
</li>

<li class="page">
<a href="/gitlab-org/gitlab-ce/issues?page=3&amp;scope=all&amp;state=opened">3</a>
</li>

<li class="page">
<a href="/gitlab-org/gitlab-ce/issues?page=4&amp;scope=all&amp;state=opened">4</a>
</li>

<li class="page">
<a href="/gitlab-org/gitlab-ce/issues?page=5&amp;scope=all&amp;state=opened">5</a>
</li>

<li class="page">
<span class="page gap">
…
</span>
</li>

<li class="next">
<a href="/gitlab-org/gitlab-ce/issues?page=2&amp;scope=all&amp;state=opened" rel="next">Dalje ›</a>
</li>

</ul>
</div>
</div>


