<div class="comm-navbar">
<ul class="nav nav-tabs">
   <li><form accept-charset="UTF-8" action="/gitlab-org/gitlab-ce/refs/switch" class="project-refs-form" method="get">
     <div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
     <div style="width: 150px;" id="s2id_ref" class="select2-container project-refs-select select2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen"></span>  <span class="select2-arrow"><b></b></span></a>
    <select tabindex="-1" class="project-refs-select select2 select2-sm select2-offscreen" id="ref" name="ref">
     <optgroup label="Branches">
        <option value="5-4-stable">izaberi</option>
        <option value="6-0-stable">6-0-stable</option>
        <option value="v6.9.1">v6.9.1</option>
     </optgroup></select>
     <input id="destination" name="destination" value="commits" type="hidden">
   </form>
</li>

     <li class="active"><a href="">Zadnje promjene</a></li>
     <li class=""><a href="">Sve promjene</a></li>
     <li class=""><a href="">Uporedi</a></li>
     <li class="pull-right hidden-sm"><a href="" title="Feed"><i class="fa fa-rss"></i></a></li>
   </ul>
</div>
