<div id="commits-list">
  <div class="row commits-row">
    <div class="col-md-2">
      <h4><i class="fa fa-calendar"></i><span>16 Jun, 2014</span></h4>
      <p>1 promjena</p>
    </div>
   <div class="col-md-10">
      <ul class="well-list">
        <li class="commit js-toggle-container">
            <div class="commit-row-title">
               <em>Izvršena je promjena na proizvodu</em>&nbsp;<span class="str-truncated">
               <a class="commit-row-message" href="">barkod: #3875000052888</a>
               <a class="text-expander js-toggle-button"></a></span>
               <a class="pull-right" href="">Prije 45 minuta</a>
            <div class="notes_count">
          </div>
       </div>
       <div class="commit-row-description js-toggle-content">
           <p>U opisu proizvoda nije navedena cjelokupna tabela nutritivnih vrijednosti.</p>
       </div>
        <div class="commit-row-info">
             <a class="commit-author-link has_tooltip" data-original-title="sytses@gmail.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=mm" width="16"> <span class="commit-author-name">Boris Novaković</span></a>
        <div class="committed_ago">
                <time data-original-title="Jun 16, 2014 6:21am" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-16T06:21:46Z" title=""></time>
             <script>$('.time_ago').timeago().tooltip()</script>&nbsp;
        </div>
      </div>
    </li>

    </ul>
   </div>
  </div>
          <hr class="lists-separator">

   <div class="row commits-row">
      <div class="col-md-2">
         <h4><i class="fa fa-calendar"></i><span>15 Jun, 2014</span></h4><p>3 promjene</p>
      </div>
    <div class="col-md-10">
       <ul class="well-list">
           <li class="commit js-toggle-container">
               <div class="commit-row-title">
                     <em>Izvršena je promjena na proizvodu</em>&nbsp;<span class="str-truncated">
               <a class="commit-row-message" href="">barkod: #3875051055870</a>
                            <a class="commit-row-message" href=""></a>
                            <a class="text-expander js-toggle-button"></a></span>
                            <a class="pull-right" href="">prije 2 sata</a>
                         <div class="notes_count">
                        </div>
                    </div>
               <div class="commit-row-description js-toggle-content">
                  <p>U tabeli sa alergenima nisu navedeni svi alergeni koje proizvod sadrži. Dva nedostajuća alergena su upisana u tabelu.</p>
              </div>
           <div class="commit-row-info">
                  <a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/e66d11c0eedf8c07b3b18fca46599807?s=24&amp;d=mm" width="16"> <span class="commit-author-name">Milo Marković</span></a>
             <div class="committed_ago">
                    <time data-original-title="Jun 15, 2014 2:53pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-15T14:53:00Z" title=""></time>
                         <script>$('.time_ago').timeago().tooltip()</script>&nbsp;
          </div>
       </div>
      </li>

    <li class="commit js-toggle-container">
       <div class="commit-row-title">
                     <em>Izvršena je promjena na proizvodu</em>&nbsp;<span class="str-truncated">
               <a class="commit-row-message" href="">barkod: #3875021839877</a>
                            <a class="commit-row-message" href=""></a>
                            <a class="text-expander js-toggle-button"></a></span>
                            <a class="pull-right" href="">prije 9 sati</a>
                         <div class="notes_count">
                        </div>
                    </div>
         <div class="commit-row-description js-toggle-content">
           <p>Upisan je barkod za dati proizvod.</p>
         </div>
      <div class="commit-row-info">
            <a class="commit-author-link has_tooltip" data-original-title="sytses@gmail.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=mm" width="16"> <span class="commit-author-name">Boris Novaković</span></a>
        <div class="committed_ago">
            <time data-original-title="Jun 15, 2014 12:33pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-15T12:33:51Z" title=""></time>
               <script>$('.time_ago').timeago().tooltip()</script>&nbsp;
           </div>
        </div>
     </li>
   <li class="commit js-toggle-container">
       <div class="commit-row-title">
                     <em>Izvršena je promjena na proizvodu</em>&nbsp;<span class="str-truncated">
               <a class="commit-row-message" href="">barkod: #3875628539801</a>
                            <a class="commit-row-message" href=""></a>
                            <a class="text-expander js-toggle-button"></a></span>
                            <a class="pull-right" href="">prije 22 sata</a>
                         <div class="notes_count">
                        </div>
                    </div>
         <div class="commit-row-description js-toggle-content">
           <p>Popunjena tabela sa svim sastojcima od kojih se proizvod sastoji, sa mogućim alergenima koji se mogu naći u tragovima i</p><p> energetska vrijednost proizvoda.</p>
         </div>
      <div class="commit-row-info">
            <a class="commit-author-link has_tooltip" data-original-title="sytses@gmail.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=mm" width="16"> <span class="commit-author-name">Boris Novaković</span></a>
        <div class="committed_ago">
            <time data-original-title="Jun 15, 2014 12:33pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-15T12:33:51Z" title=""></time>
               <script>$('.time_ago').timeago().tooltip()</script>&nbsp;
           </div>
        </div>
     </li>
</ul>
</div>
</div>
<hr class="lists-separator">
<div class="row commits-row">
<div class="col-md-2">
<h4>
<i class="fa fa-calendar"></i>
<span>14 Jun, 2014</span>
</h4>
<p>2 promjene</p>
</div>
<div class="col-md-10">
<ul class="well-list">


    <li class="commit js-toggle-container">
       <div class="commit-row-title">
                     <em>Izvršena je promjena na proizvodu</em>&nbsp;<span class="str-truncated">
               <a class="commit-row-message" href="">barkod: #3875021000885</a>
                            <a class="commit-row-message" href=""></a>
                            <a class="text-expander js-toggle-button"></a></span>
                            <a class="pull-right" href="">prije 1 dana</a>
                         <div class="notes_count">
                        </div>
                    </div>
         <div class="commit-row-description js-toggle-content">
           <p>Dopunjeni podatci o uvoznicima i distributerima za zemlje okruženja.</p>
         </div>
      <div class="commit-row-info">
            <a class="commit-author-link has_tooltip" data-original-title="sytses@gmail.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=mm" width="16"> <span class="commit-author-name">Boris Novaković</span></a>
        <div class="committed_ago">
            <time data-original-title="Jun 15, 2014 12:33pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-15T12:33:51Z" title=""></time>
               <script>$('.time_ago').timeago().tooltip()</script>&nbsp;
           </div>
        </div>
     </li>

    <li class="commit js-toggle-container">
       <div class="commit-row-title">
                     <em>Izvršena je promjena na proizvodu</em>&nbsp;<span class="str-truncated">
               <a class="commit-row-message" href="">barkod: #387509181111</a>
                            <a class="commit-row-message" href=""></a>
                            <a class="text-expander js-toggle-button"></a></span>
                            <a class="pull-right" href="">prije 1 dana</a>
                         <div class="notes_count">
                        </div>
                    </div>
         <div class="commit-row-description js-toggle-content">
           <p>Upisan je barkod za dati proizvod.</p>
         </div>
      <div class="commit-row-info">
            <a class="commit-author-link has_tooltip" data-original-title="sytses@gmail.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=mm" width="16"> <span class="commit-author-name">Boris Novaković</span></a>
        <div class="committed_ago">
            <time data-original-title="Jun 15, 2014 12:33pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-15T12:33:51Z" title=""></time>
               <script>$('.time_ago').timeago().tooltip()</script>&nbsp;
           </div>
        </div>
     </li>


</ul>
</div>
</div>
<hr class="lists-separator">
</div>
