<div class="admin-users">
 <header class="navbar navbar-static-top navbar-gitlab">
  <div class="navbar-inner">
    <div class="container">
      <span class="separator"></span>
       <div class="app_logo">
        <a href="">
         <img src="<%= image_path('ideus-logo.png')%>" alt="">
           </a>
     </div>
        
        <span class="separator"></span>
          <h4 class="title">Ideus</h4>
           <div class="navbar-collapse collapse">
     
          <ul class="nav navbar-nav">
            <li class="hidden-sm hidden-xs">
              <div class="search">
                <form class="navbar-form pull-left" method="get" action="search">
                  <input class="search-input" id="search" type="text" placeholder="Pretraži">
                </form>
              </div>
            </li>
            
           
            <li class="hidden-xs">
              <a href="/" class="has_bottom_tooltip" data-title="My snippets">
                 <i class="fa fa-paste"></i>
               </a>
            </li>
            <li class="hidden-xs">
              <a href="/" class="has_bottom_tooltip" data-original-title="Admin area">
                <i class="fa fa-cogs"></i>

              </a>
            </li>
            <li class="hidden-xs">
              <a href="/" class="has_bottom_tooltip" data-original-title="New project">
               <i class="fa fa-plus"></i>
              </a>
            </li>
           <li class="hidden-xs">
               <a href="/" class="has_bottom_tooltip" data-original-title="Profile settings">
                 <i class="fa fa-user"></i>
              </a>
            </li>
             <li class="hidden-xs">
               <a href="/" class="has_bottom_tooltip" data-original-title="Logout">
                  <i class="fa fa-sign-out"></i>
               </a>
            </li>
            <li class="hidden-xs">
                <a href="/" class="profile-pic" id="profile-pic">
                   <img src="<%= image_path('ja3.jpg')%>">
            </a>
           </li>
        </ul>
     </div>
     
      </div>
    </div>
  </header>
</div>