
<div class="container">
   <div class="content">
      <div class="project-home-panel">
         <div title="" data-original-title="" class="visibility-level-label has_tooltip" data-title="Public project"></div>
      <div class="row">
         <div class="col-sm-6">
             <h4 class="project-home-title">GitLab.org / GitLab Community Edition</h4>
         </div>
      </div>
      <div class="project-home-extra row">
         <div class="col-md-8">
             <div class="project-home-desc">
                 <a href="">www.plazma.rs</a>
             </div>
         </div>

      </div>
    </div>

  <div class="row">
     <div class="col-md-9">
         <div class="content_list">
            <div class="event-block event-item">
                <span class="cgray pull-right">
                     <time data-original-title="Jun 16, 2014 12:48pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-16T12:48:18Z" title="">33 minutes ago</time>
                           <script>$('.time_ago').timeago().tooltip()</script>

                 </span>
            <img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/de4825b2cb3921f9c322f6c126f9b145?s=24&amp;d=mm">
       <div class="event-title">
          <span class="author_name"><a href="/u/robert.brendler">Robert Brendler</a></span>
          <span class="event_label">commented on <a href="/gitlab-org/gitlab-ce/merge_requests/100#note_131985">merge request #100</a> at</span>
           <a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
       </div>
   <div class="event-body">
      <div class="event-note">
          <div class="md">
               <i class="fa fa-comment-alt event-note-icon"></i>
                <p>Any chance this get's merged into 6.10 ?</p>
          </div>
       </div>
    </div>
  </div>
     <div class="event-block event-item">
         <span class="cgray pull-right">
            <time data-original-title="Jun 16, 2014 12:33pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-16T12:33:07Z" title="">about an hour ago</time>
                 <script>$('.time_ago').timeago().tooltip()</script>
           </span>
           <img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=24&amp;d=mm">
    <div class="event-title">
        <span class="author_name"><a href="/u/sytses">Sytse Sijbrandij</a></span>
        <span class="event_label">commented on <a href="/gitlab-org/gitlab-ce/issues/295#note_131971">issue #295</a> at</span>
        <a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
    </div>
  <div class="event-body">
      <div class="event-note">
           <div class="md">
           <i class="fa fa-comment-alt event-note-icon"></i>
           <p><a class="gfm gfm-team_member " href="https://gitlab.com/u/olga.plisko">@olga.plisko</a> This will go into 7.0. I'm not sure if you can deploy this single commit.</p>
           </div>
      </div>
   </div>
  </div>

   <div class="event-block event-item">
      <span class="cgray pull-right">
          <time data-original-title="Jun 16, 2014 12:29pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-16T12:29:37Z" title="">about an hour ago</time>
               <script>$('.time_ago').timeago().tooltip()</script>
         </span>
             <img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/c092af89bbaf21a0850b3fc1d8dc0bfb?s=24&amp;d=mm">
   <div class="event-title">
       <span class="author_name"><a href="/u/olga.plisko">Olga Plisko</a></span>
       <span class="event_label">commented on <a href="/gitlab-org/gitlab-ce/issues/295#note_131968">issue #295</a> at</span>
       <a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
    </div>
   <div class="event-body">
       <div class="event-note">
            <div class="md">
            <i class="icon-comment-alt event-note-icon"></i>
               <p>Are you planning to include this patch into 7.0?...</p>

            </div>
         </div>
      </div>
    </div>
      
<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 13, 2014 1:31pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-13T13:31:36Z" title="">3 days ago</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/ca2ed46a49708b2c12249a1f4bcd4a6e?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/dblessing">Drew Blessing</a></span>
<span class="event_label">commented on <a href="/gitlab-org/gitlab-ce/issues/295#note_130241">issue #295</a> at</span>
<a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
</div>
<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p><a class="gfm gfm-team_member " href="https://gitlab.com/u/dzaporozhets">@dzaporozhets</a> I will look for the changes you're going to push and try to test this issue today.
...</p>

</div>
</div>
</div>

</div>

<a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
</div>

<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 12, 2014 1:58pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-12T13:58:12Z" title="">4 days ago</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/e66d11c0eedf8c07b3b18fca46599807?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/jacobvosmaer">Jacob Vosmaer</a></span>
<span class="event_label">commented on <a class="commit_short_id" href="/gitlab-org/gitlab-ce/commit/90bfe286a694e2af9de49dcb3b32360132249a48#note_129154">commit 90bfe286a</a> at</span>
<a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
</div>
<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p>Ah yes that makes sense.</p>

</div>
</div>
</div>

</div>
<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 12, 2014 1:53pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-12T13:53:20Z" title="">4 days ago</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/a0f7b08f28165132190bc6f6b21459ee?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/cschulz">CSchulz</a></span>
<span class="event_label">commented on <a class="commit_short_id" href="/gitlab-org/gitlab-ce/commit/90bfe286a694e2af9de49dcb3b32360132249a48#note_129148">commit 90bfe286a</a> at</span>
<a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
</div>
<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p>I think the error message, that the init scripts are missing.</p>

</div>
</div>
</div>

</div>
<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 12, 2014 1:50pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-12T13:50:15Z" title="">4 days ago</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/e66d11c0eedf8c07b3b18fca46599807?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/jacobvosmaer">Jacob Vosmaer</a></span>
<span class="event_label">commented on <a class="commit_short_id" href="/gitlab-org/gitlab-ce/commit/90bfe286a694e2af9de49dcb3b32360132249a48#note_129142">commit 90bfe286a</a> at</span>
<a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
</div>

<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p>Interesting, we could make it more general and work only for Debian/Ubuntu. Currently RHEL/CentOS have this issue as well.</p>

</div>
</div>
</div>

</div>
<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 12, 2014 1:48pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-12T13:48:16Z" title="">4 days ago</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/a0f7b08f28165132190bc6f6b21459ee?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/cschulz">CSchulz</a></span>
<span class="event_label">commented on <a href="/gitlab-org/gitlab-ce/issues/332#note_129137">issue #332</a> at</span>
<a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
</div>
<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p>Yes I have changed my name, too.
...</p>

</div>
</div>
</div>

</div>
<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 12, 2014 1:42pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-12T13:42:46Z" title="">4 days ago</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/f9fb815ab03c1547898d17998a3da46f?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/sonicsnes">Michael Morrison</a></span>
<span class="event_label">commented on <a href="/gitlab-org/gitlab-ce/issues/332#note_129128">issue #332</a> at</span>
<a href="/gitlab-org/gitlab-ce"><span class="namespace-name">GitLab.org / </span><span class="project-name">GitLab Community Edition</span></a>
</div>
<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p>Yep, that works fine for aliases (as long as we are assuming that emails are always stored in lowercase in the database).
...</p>

</div>
</div>
</div>

</div>



</div>
</div>
</div>
