
<div class="container">
   <div class="content">
      <div class="project-home-panel">
         <div title="" data-original-title="" class="visibility-level-label has_tooltip" data-title="Public project"></div>
      <div class="row">
         <div class="col-sm-6">
             <h4 class="project-home-title">Plazma Keks, Bambi</h4>
         </div>
      </div>
      <div class="project-home-extra row">
         <div class="col-md-8">
             <div class="project-home-desc">
                 <a href="">www.plazma.rs</a>
             </div>
         </div>

      </div>
    </div>

  <div class="row">
     <div class="col-md-12">
         <div class="content_list">
            <div class="event-block event-item">
                <span class="cgray pull-right">
                     <time data-original-title="Jun 16, 2014 12:48pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-16T12:48:18Z" title="">prije 33 minuta</time>
                           <script>$('.time_ago').timeago().tooltip()</script>

                 </span>
            <img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/de4825b2cb3921f9c322f6c126f9b145?s=24&amp;d=mm">
       <div class="event-title">
          <span class="author_name"><a href="/u/robert.brendler">Danijel Demić</a></span>
          <span class="event_label"> komentariše proizvod <a href="/gitlab-org/gitlab-ce/merge_requests/100#note_131985"> Plazma keks, Bambi</a> barkod:</span>
           <span class="namespace-name"> 8600939344057</span></a>
       </div>
   <div class="event-body">
      <div class="event-note">
          <div class="md">
               <i class="fa fa-comment-alt event-note-fa fa"></i>
                <p> U linku koji se nalazi u ovom tekstu možete naći Izveštaj akreditovane laboratorije iz Nemačke, koja je izvršila analizu Plazme.<p> Izveštaj potvrđuje Plazma proizvodi ne sadrže GMO. <a href=""> IZVJEŠTAJ</a></p>
               
          </div>
       </div>
    </div>
  </div>
    

     <div class="event-block event-item">
         <span class="cgray pull-right">
            <time data-original-title="Jun 16, 2014 12:33pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-16T12:33:07Z" title="">prije 51 minuta</time>
                 <script>$('.time_ago').timeago().tooltip()</script>
           </span>
           <img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=24&amp;d=mm">
    <div class="event-title">
        <span class="author_name"><a href="/u/sytses">Goran Bauk</a></span>
        <span class="event_label"> komentariše proizvod <a href="/gitlab-org/gitlab-ce/issues/295#note_131971"> Plazma keks, Bambi</a> barkod:</span>
        <a href="/gitlab-org/gitlab-ce"><span class="namespace-name"> 8600939344057</span></a>
    </div>
  <div class="event-body">
      <div class="event-note">
           <div class="md">
           
           <p> Najbolji keks na ovim prostorima.</p>
           </div>
      </div>
   </div>
  </div>

   <div class="event-block event-item">
      <span class="cgray pull-right">
          <time data-original-title="Jun 16, 2014 12:29pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-16T12:29:37Z" title="">prije 2 sata</time>
               <script>$('.time_ago').timeago().tooltip()</script>
         </span>
             <img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/c092af89bbaf21a0850b3fc1d8dc0bfb?s=24&amp;d=mm">
   <div class="event-title">
       <span class="author_name"><a href="/u/olga.plisko">Olga Pliska</a></span>
        <span class="event_label"> komentariše proizvod <a href="/gitlab-org/gitlab-ce/issues/295#note_131971"> Plazma keks, Bambi</a> barkod:</span>
        <a href="/gitlab-org/gitlab-ce"><span class="namespace-name"> 8600939344057</span><span class="project-name"></span></a>
    </div>
   <div class="event-body">
       <div class="event-note">
            <div class="md">
            <i class="icon-comment-alt event-note-icon"></i>
               <p>Pohvale naravno za ukus ali i za ambalažu na kojoj je sve detaljno objašnjeno što se tiče sastava.</p>

            </div>
         </div>
      </div>
    </div>
      
<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 13, 2014 1:31pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-13T13:31:36Z" title="">prije 7 sati</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/ca2ed46a49708b2c12249a1f4bcd4a6e?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/dblessing">Dejan Vesnin</a></span>
 <span class="event_label"> komentariše proizvod <a href="/gitlab-org/gitlab-ce/issues/295#note_131971"> Plazma keks, Bambi</a> barkod:</span>
        <a href="/gitlab-org/gitlab-ce"><span class="namespace-name"> 8600939344057</span><span class="project-name"></span></a>
</div>
<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p> Evo već 20 godina svakodnevno konzumiram plazmu. Ne mogu da zamislim dan bez nje.</p>

</div>
</div>
</div>

</div>
</div>

<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 12, 2014 1:58pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-12T13:58:12Z" title="">prije 18 sati</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/e66d11c0eedf8c07b3b18fca46599807?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/jacobvosmaer">Milan Vučević</a></span>
<span class="event_label"> komentariše proizvod <a href="/gitlab-org/gitlab-ce/issues/295#note_131971"> Plazma keks, Bambi</a> barkod:</span>
        <a href="/gitlab-org/gitlab-ce"><span class="namespace-name"> 8600939344057</span><span class="project-name"></span></a>
</div>
<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p>Isti ukus koji se ne mijenja godinama. Potvrda kvaliteta.</p>

</div>
</div>
</div>

</div>
<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 12, 2014 1:53pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-12T13:53:20Z" title="">prije 19 sati</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/a0f7b08f28165132190bc6f6b21459ee?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/cschulz">Balša Ivanović</a></span>
<span class="event_label"> komentariše proizvod <a href="/gitlab-org/gitlab-ce/issues/295#note_131971"> Plazma keks, Bambi</a> barkod:</span>
        <a href="/gitlab-org/gitlab-ce"><span class="namespace-name"> 8600939344057</span><span class="project-name"></span></a>
</div>
<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p>Samo je jedna plazma :)</p>

</div>
</div>
</div>

</div>
<div class="event-block event-item">
<span class="cgray pull-right">
<time data-original-title="Jun 12, 2014 1:50pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-12T13:50:15Z" title="">prije 1 dana</time>
<script>$('.time_ago').timeago().tooltip()</script>

</span>
<img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/e66d11c0eedf8c07b3b18fca46599807?s=24&amp;d=mm">
<div class="event-title">
<span class="author_name"><a href="/u/jacobvosmaer">Milan Vučević</a></span>
<span class="event_label"> komentariše proizvod <a href="/gitlab-org/gitlab-ce/issues/295#note_131971"> Plazma keks, Bambi</a> barkod:</span>
        <a href="/gitlab-org/gitlab-ce"><span class="namespace-name"> 8600939344057</span><span class="project-name"></span></a>
</div>

<div class="event-body">
<div class="event-note">
<div class="md">
<i class="icon-comment-alt event-note-icon"></i>
<p>Plazma keks posjeduje nesporan kvalitet. Ali ključ njenog uspjeha je tradicija, po kojoj se ona odomaćila u našem društvu.</p>

</div>
</div>
</div>

</div>

</div>



</div>
</div>
</div>
