<div class="container">
<ul class="nav nav-tabs">
  <li class="active"><a class="tab" href="/gitlab-org/gitlab-ce/issues">Browse Issues
    <span class="badge issue_counter">157</span></a></li>
  <li class=""><a class="tab" href="/gitlab-org/gitlab-ce/milestones">Milestones</a></li>
  <li class=""><a class="tab" href="/gitlab-org/gitlab-ce/labels">Labels</a></li>
  <li><a href="/gitlab-org/gitlab-ce/issues.atom?private_token=nRRcMridBfzsWxTz4Nca"><i class="fa fa-rss"></i>
     </a></li>
  <li class="pull-right">
    <div class="pull-right">
      <form accept-charset="UTF-8" action="/gitlab-org/gitlab-ce/issues" class="pull-left issue-search-form" id="issue_search_form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
    <div class="append-right-10 hidden-xs hidden-sm">
      <input class="form-control issue_search search-text-input input-mn-300" id="issue_search" name="issue_search" placeholder="Filter by title or description" type="search">
     <input id="state" name="state" value="opened" type="hidden">
     <input id="scope" name="scope" value="all" type="hidden">
     <input id="assignee_id" name="assignee_id" type="hidden">
     <input id="milestone_id" name="milestone_id" type="hidden">
     <input id="label_id" name="label_id" type="hidden">
    </div>
   </form>

      <a class="btn btn-new pull-left" href="/gitlab-org/gitlab-ce/issues/new?issue%5Bassignee_id%5D=&amp;issue%5Bmilestone_id%5D=" id="new_issue_link" title="New Issue"> <i class="fa fa-plus"></i> New Issue 
     </a></div>
   </li>
</ul>
 </div>
