<div class="container">
<div class="content"><h3 class="page-title">Blame view</h3>
<div class="tree-holder" id="tree-holder">
<div class="file-holder">
<div class="file-title">
<i class="icon-file"></i>
<span class="file_name">
README.md
<small>4.39 KB</small>
</span>
<span class="options"><div class="btn-group tree-btn-group">
<span class="btn btn-small disabled">edit</span>
<a class="btn btn-small" href="/erning/gitlabhq/raw/master/README.md" target="_blank">raw</a>
<a class="btn btn-small" href="/erning/gitlabhq/blob/master/README.md">normal view</a>
<a class="btn btn-small" href="/erning/gitlabhq/commits/master/README.md">history</a>
</div>
</span>
</div>
<div class="file-content blame">
<table>
<tbody><tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>1</pre>
</td>
<td class="lines">
jkfggfghgldhgdhghgldhhglkd
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/33cd1ae9dce7d8a798ca312a27eb0b4872892f05">33cd1ae9d</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/33cd1ae9dce7d8a798ca312a27eb0b4872892f05">Update README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>2</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">2c71c2e1d</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">trying new readme</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>3</pre>
</td>
<td class="lines">
<pre>  ![logo](https://raw.github.com/gitlabhq/gitlabhq/master/public/gitlab_logo.png)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/33cd1ae9dce7d8a798ca312a27eb0b4872892f05">33cd1ae9d</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/33cd1ae9dce7d8a798ca312a27eb0b4872892f05">Update README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>4</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>5
6
7
8
9
10
11</pre>
</td>
<td class="lines">
<pre>  ### GitLab allows you to
   * keep your code secure on your own server
   * manage repositories, users and access permissions
   * communicate though issues, line-comments and wiki's
   * perform code reviews with merge requests
  
  ### GitLab is
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">2c71c2e1d</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">trying new readme</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>12</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>13
14
15</pre>
</td>
<td class="lines">
<pre>  * powered by Ruby on Rails
  * completely free and open source (MIT license)
  * used by 10.000 organization to keep their code secure
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">2c71c2e1d</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">trying new readme</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>16</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>17</pre>
</td>
<td class="lines">
<pre>  ### Code status
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>18</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>19</pre>
</td>
<td class="lines">
<pre>  * [![build status](http://ci.gitlab.org/projects/1/status?ref=master)](http://ci.gitlab.org/projects/1?ref=master) ci.gitlab.org (master branch)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>20</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>21</pre>
</td>
<td class="lines">
<pre>  * [![build status](https://secure.travis-ci.org/gitlabhq/gitlabhq.png)](https://travis-ci.org/gitlabhq/gitlabhq) travis-ci.org (master branch)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">2c71c2e1d</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">trying new readme</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>22</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/9c40002625b34588435456e5487d2b174566b9f5">9c4000262</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="admin@un1matr1x.de" href="mailto:admin@un1matr1x.de"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/89e1d4489c1329c9092d62db5da2b983?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Un1matr1x</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/9c40002625b34588435456e5487d2b174566b9f5">docs improvement</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>23</pre>
</td>
<td class="lines">
<pre>  * [![Code Climate](https://codeclimate.com/github/gitlabhq/gitlabhq.png)](https://codeclimate.com/github/gitlabhq/gitlabhq)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>24</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">2c71c2e1d</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">trying new readme</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>25</pre>
</td>
<td class="lines">
<pre>  * [![Dependency Status](https://gemnasium.com/gitlabhq/gitlabhq.png)](https://gemnasium.com/gitlabhq/gitlabhq)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/139a332293b9d8c4e5436619036e093483d8347f">139a33229</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dzaporozhets@sphereconsultinginc.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/139a332293b9d8c4e5436619036e093483d8347f">updated readme</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>26</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>27</pre>
</td>
<td class="lines">
<pre>  ### Resources
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>28</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>29
30
31
32
33</pre>
</td>
<td class="lines">
<pre>  * GitLab.org community site: [Homepage](http://gitlab.org) [Screenshots](http://gitlab.org/screenshots/) [Blog](http://blog.gitlab.org/) [Demo](http://demo.gitlabhq.com/users/sign_in)
  
  * GitLab.com: [Homepage](http://blog.gitlab.com/) [Hosted pricing](http://blog.gitlab.com/pricing/) [Services](http://blog.gitlab.com/services/) [Blog](http://blog.gitlab.com/blog/)
  
  * GitLab CI: [Readme](https://github.com/gitlabhq/gitlab-ci/blob/master/README.md) of the GitLab open-source continuous integration server
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>34</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">2c71c2e1d</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/2c71c2e1df1bec9ded0a62feb6f68f60fbdfb154">trying new readme</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>35</pre>
</td>
<td class="lines">
<pre>  ### Requirements
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>36</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>37</pre>
</td>
<td class="lines">
<pre>  * Ubuntu/Debian*
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/c6c01e1040a45f2cd3400a5847a58b7bf9b8c5c6">c6c01e104</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="vsv2711@gmail.com" href="/u/Sizov"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/47b77c89d3ece30b80b49f3319029b56?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Valeriy</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/c6c01e1040a45f2cd3400a5847a58b7bf9b8c5c6">ruby version changed</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>38</pre>
</td>
<td class="lines">
<pre>  * ruby 1.9.3+
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/a0f2f05e50312efcbf878f877fcde7888a52e3e1">a0f2f05e5</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/a0f2f05e50312efcbf878f877fcde7888a52e3e1">Updated README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>39</pre>
</td>
<td class="lines">
<pre>  * MySQL
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>40</pre>
</td>
<td class="lines">
<pre>  * git
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/33cd1ae9dce7d8a798ca312a27eb0b4872892f05">33cd1ae9d</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/33cd1ae9dce7d8a798ca312a27eb0b4872892f05">Update README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>41</pre>
</td>
<td class="lines">
<pre>  * gitlab-shell
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/514f7d897330b92f38bcd8baf5a5a4c199358dfb">514f7d897</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/514f7d897330b92f38bcd8baf5a5a4c199358dfb">updated readme</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>42</pre>
</td>
<td class="lines">
<pre>  * redis
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>43</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>44</pre>
</td>
<td class="lines">
<pre>  * More details are in the [requirements doc](https://github.com/gitlabhq/gitlabhq/blob/master/doc/install/requirements.md)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>45
46
47</pre>
</td>
<td class="lines">
<pre>  ### Installation
  
  You can either follow the "ordinary" Installation guide to install it on a machine or use the Vagrant virtual machine. The Installation guide is recommended to set up a production server. The Vargrant virtual machine is recommended for development since it makes it much easier to set up all the dependencies for integration testing.
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>48
49
50
51
52
53</pre>
</td>
<td class="lines">
<pre>  
  * [Installation guide for latest stable release](https://github.com/gitlabhq/gitlabhq/blob/4-2-stable/doc/install/installation.md)
  
  * [Installation guide for the current master branch](https://github.com/gitlabhq/gitlabhq/blob/master/doc/install/installation.md)
  
  * [Vagrant virtual machine](https://github.com/gitlabhq/gitlab-vagrant-vm)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>54</pre>
</td>
<td class="lines">
<pre>  ### Starting
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>55</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/6e908f1a36e702a5c829981f0ed48924ad837b16">6e908f1a3</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/6e908f1a36e702a5c829981f0ed48924ad837b16">Sidekiq replaced ...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>56</pre>
</td>
<td class="lines">
<pre>  1. The Installation guide contains instructions to download an init script and run that on boot. With the init script you can also start GitLab with:
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>57</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">06807885c</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">fix readme code n...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>58</pre>
</td>
<td class="lines">
<pre>          sudo service gitlab start
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>59</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">06807885c</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">fix readme code n...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>60</pre>
</td>
<td class="lines">
<pre>    or
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>61</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">06807885c</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">fix readme code n...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>62</pre>
</td>
<td class="lines">
<pre>          sudo /etc/init.d/gitlab restart
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>63</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/6e908f1a36e702a5c829981f0ed48924ad837b16">6e908f1a3</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/6e908f1a36e702a5c829981f0ed48924ad837b16">Sidekiq replaced ...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>64</pre>
</td>
<td class="lines">
<pre>  2. Start it with [Foreman](https://github.com/ddollar/foreman) in development model
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>65</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">06807885c</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">fix readme code n...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>66</pre>
</td>
<td class="lines">
<pre>          bundle exec foreman start -p 3000
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>67</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/6e908f1a36e702a5c829981f0ed48924ad837b16">6e908f1a3</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/6e908f1a36e702a5c829981f0ed48924ad837b16">Sidekiq replaced ...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>68</pre>
</td>
<td class="lines">
<pre>  3. Start it manually in development mode
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>69</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">06807885c</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/06807885cf6095517f8d128f0d870f1f81837784">fix readme code n...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>70
71</pre>
</td>
<td class="lines">
<pre>          bundle exec rails s
          bundle exec rake sidekiq:start
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>72
73
74
75</pre>
</td>
<td class="lines">
<pre>  
  ### Running the tests
  
  * Seed the database with
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/891dc550e0c5cef88b250a98d9546a25da0912ba">891dc550e</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/891dc550e0c5cef88b250a98d9546a25da0912ba">README code in lists</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>76
77</pre>
</td>
<td class="lines">
<pre>          bundle exec rake db:setup RAILS_ENV=test
          bundle exec rake db:seed_fu RAILS_ENV=test
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>78
79</pre>
</td>
<td class="lines">
<pre>  
  * Run all tests
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">5421f6b23</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">Small fixes and b...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>80</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/891dc550e0c5cef88b250a98d9546a25da0912ba">891dc550e</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/891dc550e0c5cef88b250a98d9546a25da0912ba">README code in lists</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>81</pre>
</td>
<td class="lines">
<pre>          bundle exec rake gitlab:test
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>82
83</pre>
</td>
<td class="lines">
<pre>  
  * Rspec unit and functional tests
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">5421f6b23</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">Small fixes and b...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>84</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/891dc550e0c5cef88b250a98d9546a25da0912ba">891dc550e</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/891dc550e0c5cef88b250a98d9546a25da0912ba">README code in lists</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>85</pre>
</td>
<td class="lines">
<pre>          bundle exec rake spec
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>86
87</pre>
</td>
<td class="lines">
<pre>  
  * Spinach integration tests
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">5421f6b23</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">Small fixes and b...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>88</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/891dc550e0c5cef88b250a98d9546a25da0912ba">891dc550e</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/891dc550e0c5cef88b250a98d9546a25da0912ba">README code in lists</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>89</pre>
</td>
<td class="lines">
<pre>          bundle exec rake spinach
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>90
91
92
93
94
95
96
97
98
99
100
101</pre>
</td>
<td class="lines">
<pre>  
  ### Getting help
  
  * [Troubleshooting guide](https://github.com/gitlabhq/gitlab-public-wiki/wiki/Trouble-Shooting-Guide)
  
  * [Support forum](https://groups.google.com/forum/#!forum/gitlabhq)
  
  * [Feedback and suggestions forum](http://gitlab.uservoice.com/forums/176466-general)
  
  * [Paid support](http://blog.gitlab.com/support/)
  
  * [Paid services](http://blog.gitlab.com/services/)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/46bbeabcde4a2b7cdfcec29da4bde51ceb45a97a">46bbeabcd</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/46bbeabcde4a2b7cdfcec29da4bde51ceb45a97a">Link to new contr...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>102</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>103
104
105
106
107
108
109</pre>
</td>
<td class="lines">
<pre>  ### New versions and the API
  
  Each month on the 22th a new version is released together with an upgrade guide.
  
  * [Upgrade guides](https://github.com/gitlabhq/gitlabhq/wiki)
  
  * [Roadmap](https://github.com/gitlabhq/gitlabhq/blob/master/ROADMAP.md)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">5421f6b23</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">Small fixes and b...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>110</pre>
</td>
<td class="lines">
<pre>  ### Other documentation
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">56d1cc5be</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/56d1cc5be50939089c011325b18dee3a295edf4c">Replacing the dev...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>111</pre>
</td>
<td class="lines">
<pre>  * [GitLab API](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/README.md)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">5421f6b23</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/5421f6b239fcf2742e6190ee6ffdaa6144ab800a">Small fixes and b...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>112
113
114</pre>
</td>
<td class="lines">
<pre>  * [Rake tasks](https://github.com/gitlabhq/gitlabhq/tree/master/doc/raketasks)
  
  * [GitLab recipes](https://github.com/gitlabhq/gitlab-recipes)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>115</pre>
</td>
<td class="lines">
<pre>  ### Getting in touch
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>116</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>117</pre>
</td>
<td class="lines">
<pre>  * [Contributing guide](https://github.com/gitlabhq/gitlabhq/blob/master/CONTRIBUTING.md)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>118</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>119</pre>
</td>
<td class="lines">
<pre>  * [Core team](https://github.com/gitlabhq?tab=members)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/2ca00bdb3e07e84a87c6d480d8cb896bf6f08ca9">2ca00bdb3</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="dmitriy.zaporozhets@gmail.com" href="/u/dzaporozhets"><img alt="" class="avatar s16" src="https://s3.amazonaws.com/gitlab_production_us/uploads/user/avatar/444/8de6bc397cefebbd119dfa1efeecd483.jpeg?AWSAccessKeyId=AKIAIF467Y24ASISRYUA&amp;Signature=yuQOF8OZT0xuc%2Bq1KwCHjWVhih8%3D&amp;Expires=1940038986" width="16"> <span class="commit-author-name">Dmitriy Zaporozhets</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/2ca00bdb3e07e84a87c6d480d8cb896bf6f08ca9">fixed readme md</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>120</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>121</pre>
</td>
<td class="lines">
<pre>  * [Contributors](https://github.com/gitlabhq/gitlabhq/graphs/contributors)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>122</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>123</pre>
</td>
<td class="lines">
<pre>  * [Leader](https://github.com/randx)
</pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">91045358a</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="narkoz.2008@gmail.com" href="/u/narkoz"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/144314100b686db946ff68c7ae1065d1?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Nihad Abbasov</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/91045358a2b0eba6922bdbf9bfc65313e6f167ef">brand new README</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>124</pre>
</td>
<td class="lines">
<pre></pre>
</td>
</tr>
<tr>
<td class="blame-commit">
<span class="commit">
<a class="commit_short_id" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">737a44979</a>
&nbsp;
<a class="commit-author-link has_tooltip" data-original-title="sytse@dosire.com" href="/u/sytses"><img alt="" class="avatar s16" src="https://secure.gravatar.com/avatar/64fa0c156c8c444cbbe09593baea6e3e?s=16&amp;d=identicon" width="16"> <span class="commit-author-name">Sytse Sijbrandij</span></a>
&nbsp;
<a class="row_title" href="/erning/gitlabhq/commit/737a449795c9057fab1f326f28c8e24972d0bd71">Cleaned up and en...</a>
</span>
</td>
<td class="lines blame-numbers">
<pre>125</pre>
</td>
<td class="lines">
<pre>  * [Contact page](http://gitlab.org/contact/)
</pre>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
