<nav class="main-nav navbar-collapse collapse">
  <div class="container">
    <ul>
      <li class="home"><a href="/" title="Home"><i class="fa fa-home"></i></a></li>
      <li class=""><a href="/dashboard/projects">Projects</a></li>
      <li class="active"><a href="/dashboard/issues">Issues<span class="count">0</span></a></li>
      <li class=""><a href="/dashboard/merge_requests">Merge Requests<span class="count">0</span></a></li>
      <li class=""><a href="/help">Help</a></li>
    </ul>
  </div>
</nav>
