<div class="main-nav">
    <div class="container">
       <ul>
         <li class="home"><a href="/admin" title="Stats"><i class="fa fa-home"></i></a></li>
         <li class=""><a href="/admin/projects">Projects</a></li>
         <li class=""><a href="/admin/groups">Groups</a></li>
         <li class="active"><a href="/admin/users">Users</a></li>
         <li class=""><a href="/admin/logs">Logs</a></li>
         <li class=""><a href="/admin/broadcast_messages">Messages</a></li>
         <li class=""><a href="/admin/hooks">Hooks</a></li>
         <li class=""><a href="/admin/background_jobs">Background Jobs</a></li>
      </ul>
   </div>
</div>